{% extends "base.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="container">
        <form action="nothing" method="post">
            <div class="container_camp">
                <label for="person_email">Email:</label>
                <input type="text" name="person_email" id="email"><br>
                <label for="person_password">Password:</label>
                <input type="text" name="person_password" id="password">
            </div>
            <input type="submit" value="Enter" id="submit">
        </form>
    </div>
{% endblock %}
