{% extends "base.html" %} 

{% block title %} 
    Sing In
{% endblock %}

{% block main %}
    <div class="container">
        <form action="/singin" method="post">
            <div class="container_camp">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter with your pincipal email"><br>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password"><br>
            </div>
            <input type="submit" value="Sing In" id="submit">
        </form>
    </div>
{% endblock %}
